In [2]:
import pandas as pd

In [12]:
df = pd.read_csv(r"C:\Users\Dhrumil\Desktop\Data Science Bootcamp\CARS_1.csv")

In [13]:
df.head()

,Sr No.,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
0,1,Maruti Alto K10,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback,4.5,399000,583000,89.0,3500,65.71,5500
1,2,Maruti Brezza,86,Petrol,1462,4,5.0,Automatic,48.0,SUV,4.5,799000,1396000,136.8,4400,101.65,6000
2,3,Mahindra Thar,242,Diesel,2184,4,4.0,Automatic,57.0,SUV,4.5,1353000,1603000,300.0,2800,130.00,3750
3,4,Mahindra XUV700,313,Diesel,2198,4,7.0,Automatic,60.0,SUV,4.5,1318000,2458000,450.0,2800,182.38,3500
4,5,Mahindra Scorpio-N,107,Diesel,2198,4,7.0,Automatic,57.0,SUV,4.5,1199000,2390000,400.0,2750,172.45,3500

In [14]:
df.isnull().sum()

Sr No.                  0
car_name                0
reviews_count           0
fuel_type               0
engine_displacement     0
no_cylinder             0
seating_capacity        1
transmission_type      17
fuel_tank_capacity      0
body_type              20
rating                  0
starting_price          0
ending_price            0
max_torque_nm           0
max_torque_rpm          0
max_power_bhp           0
max_power_rp            0
dtype: int64

In [19]:
#handle the missing value with mode() :

df['body_type'] = df['body_type'].fillna(df['body_type'].mode()[0])

In [18]:
df.isnull().sum()

Sr No.                  0
car_name                0
reviews_count           0
fuel_type               0
engine_displacement     0
no_cylinder             0
seating_capacity        1
transmission_type      17
fuel_tank_capacity      0
body_type               0
rating                  0
starting_price          0
ending_price            0
max_torque_nm           0
max_torque_rpm          0
max_power_bhp           0
max_power_rp            0
dtype: int64

# Note : SimpleImputer Class from Sklearn :

In [20]:
import numpy as np

# import SimpleImputer class 
from sklearn.impute import SimpleImputer

In [21]:
# Imputer object using the mean strategy and 
# missing_values type for imputaion 

imputer = SimpleImputer(missing_values = np.nan , strategy = 'mean')

data = [[12 , np.nan ,34] , [10 ,32 , np.nan] , [np.nan , 11,20]]
print("Orignal Data :\n" , data)

Orignal Data :
 [[12, nan, 34], [10, 32, nan], [nan, 11, 20]]

In [27]:
# Fitting the data to the imputer object :
imputer = imputer.fit(data)
print(imputer)

SimpleImputer()

In [26]:
# Imputing the data :
data = imputer.transform(data)
print("imputed Data : \n" , data)

imputed Data :
 [[12.  21.5 34. ]
 [10.  32.  27. ]
 [11.  11.  20. ]]

# Feature Encoding :

# 1. One Hot Encoding :

In [14]:
df = pd.read_csv(r"C:\Users\Dhrumil\Desktop\Data Science Bootcamp\CARS_1.csv")

TypeError: 'str' object is not callable

In [15]:
df.head()

AttributeError: 'str' object has no attribute 'head'